/* 
	SCSS Document 
	kaushtuvgurung@gmail.com
*/

@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

$color1:#191919; /* charcoal*/
$color2:#3b3b3b; /* lighter charcoal */
$color3:#e9e8e8; /* grey */
$color4:#231f20; /* black, font colors */
$color5:#ff8c52; /* orange sale colors */

$white:#fff; /* white */
$black:#000; /* black */

$font1:'Lato', sans-serif; /* Main font, body copy*/
$font2:'Lato', sans-serif; /* nav font */
$font3:'Lato', sans-serif;	/* carousel fonts*/
$font4:'Lato', sans-serif; /* buttons font */
$font5:'Lato', sans-serif;	/* headers font */
$fa:'FontAwesome';

@mixin init_font($font:'Lato'){
	font-family:$font;	
}

@mixin add_gutters($left:15px,$right:15px){
	padding-left:$left;
	padding-right:$right;
}

@mixin placeholder($font_size:12px,$font_weight:400,$opacity:1,$letter_spacing:1.5px,$word_spacing:1.4px,$color:#191919){
	&::-webkit-input-placeholder {
  		 color: $color;
		 font-size:$font_size;
		 font-family:$font1;
		 font-weight:$font_weight;
		 opacity:$opacity;
		 text-transform:none;
		 letter-spacing:$letter_spacing;
		 word-spacing:$word_spacing;
	}

	&:-moz-placeholder { /* Firefox 18- */
   		color: $color; 
		font-size:$font_size;
		font-family:$font1; 
		font-weight:$font_weight;
		opacity:$opacity;
		text-transform:none;
		letter-spacing:$letter_spacing;
		word-spacing:$word_spacing;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
   		color: $color;  
		font-size:$font_size;
		font-family:$font1;
		font-weight:$font_weight;
		opacity:$opacity;
		text-transform:none;
		letter-spacing:$letter_spacing;
		word-spacing:$word_spacing;
	}

	&:-ms-input-placeholder {  
   		color: $color; 
		font-size:$font_size;
		font-family:$font1; 
		font-weight:$font_weight;
		opacity:$opacity;
		text-transform:none;
		letter-spacing:$letter_spacing;
		word-spacing:$word_spacing;
	}	
}

/*
	vw = ratio 0.05308333 (font in vw / font in px)
*/
$vw_ratio: 0.05308333;
@mixin responsive_font($font_size,$line_height){
	font-size: unquote(($vw_ratio * $font_size) + 'vw');
	line-height: unquote(($vw_ratio * $line_height) + 'vw');
}
@mixin responsive_style($style_name,$value_in_px){
	#{$style_name}:unquote(($vw_ratio * $value_in_px) + 'vw');
}
/* default is black */
@mixin overlay($a,$r:0,$g:0,$b:0){
	background:$black;
	background-color:rgba($r,$g,$b,$a);
    background-color: transparent\9;	
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
	@include init_font();
	text-transform:uppercase;	
}

h1,.h1{
}
h2,.h2{
	@include responsive_font(48,48);
	letter-spacing:2px;	
}
h3,.h3{
	@include responsive_font(24,32);
	font-weight:700;
}
h4,.h4{
	@include responsive_font(23,23);
}
h5,.h5{
	font-size:16px;
	font-weight:300;	
}
h6,.h6{
	font-size:14px;
	font-weight:400;
}

body{
	font-family:$font1;
	letter-spacing:1.4px;	
	word-spacing:1.4px;
}

.app-badge{
	background-color:$color3;
	color:$color1;
	font-weight:700;	
}

.app-link{
	color:$color4;
	
	&:hover{
		color:$color4;	
	}
}

.app_flex{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;	
}

.app-btn{
	text-transform:uppercase;	
}

$btn_states:".active",":active",".focus",":focus";
@each $states in $btn_states{
	.app-btn#{$states}{
		box-shadow:none;
		border:none;
	}
}
	

@mixin app_set_flex($flex){
	-webkit-box-flex: $flex;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: $flex;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: $flex;          /* Chrome */
	-ms-flex: $flex;              /* IE 10 */
	flex: $flex; 
}

.caption{
	@include overlay(0.75);
	right:0;
	left:0;
	bottom:0;
	padding:16px 20px;
	color:$white;
	
	h3{
		text-shadow:none;	
		text-align:center;
		padding:0;
		margin:0;
		text-transform:uppercase;
		font-size: 16px;
		line-height:22px;
		font-weight: 100;
		letter-spacing:2px;
		font-family:$font3;	
	}
	h4{
		@extend h1;	
		font-size:13.5px;
		text-transform:none;
		font-family:$font2;
	}
	
	

} /*caption*/

.btn-app{
	background:$black;
	background-color:$black;
	color:$white;	
	text-transform:uppercase;
	border-radius:0;
	font-size:18px;
	padding:10px 20px;
	min-width:245px;
	
	&:hover{
		color:$white;	
	}
}

.app-container{
	width:100%;
	float:left;	
}
.br{
	margin:10px 0;	
}
.br-btm{
	margin-bottom:10px;	
}
.br-top{
	margin-top:10px;	
}

$header_height:150px;
$mob_header_height:75px;

#header{
	@include add_gutters();
	height:$header_height;
	padding-top:20px;
	
	.logo-wrap{
		text-align:center;
		
		img{
			height:108px;	
		}
	}
	
	.hdr-block{
		span.block{
			line-height:18px;	
		}
		
		&.lt{
			padding-top:15px;
		}
		&.rt{
			text-align:right;
			
			.acc-access{
				padding-top:42px;
				padding-bottom:10px;	
				
				.fa{
					margin-right:4px;	
				}
			}
			
			ul.acc-info{
				margin:0;
				padding:0;
				list-style:none;
				
				li{
					float:right;
					padding-left:35px;	
					
					.fa{
						margin-right:4px;	
					}
					
					.app-badge{
						margin-left:10px;	
					}
				}
			}
		}
	} /* hdr-block */
	
	.search-form{
		.form-control-feedback{
			  pointer-events: auto;
		}
	}
	
	.mob-header{
		font-size:18px;	
		text-transform:uppercase;
		color:$white;
		
		.block{
			height:$mob_header_height;
		}
		
		.search-form{
			&.form-group{
				margin-bottom:0;	
			}
			.form-control{
				@include placeholder(18px,400,1,1.5px,1.4px,$white);
				
				background-color:transparent;
				color:$white;
				border:none;
				width:130px;
				font-size:18px;
				padding-right:35.5px;
				padding-top:0;
				padding-bottom:0;
				height:auto;
			}
			.form-control-feedback{
				color:$white;
				height:auto;
				line-height:22px;
			}
		}
		
		ul.acc-info{
			list-style:none;	
			float:right;
			margin-bottom:0;
			margin-top:16px;
			
			li{
				float:left;
				width:auto;
				padding-left:15px;	
			}
			.app-badge{
				float:right;
				margin-top:3px;
				margin-left:8px;	
			}
		}
		
		.mob-nav-btn{
			background-color:transparent;
			color:#fff;	
			font-size:18px;
			padding:0;
			margin-top:15px;
			
			.fa{
				font-size: 20px;
  				padding-right: 5px;	
			}
		}
	} /* mob header*/
}

.app-form-control{
	@include placeholder();
	font-size:12px;	
}


$carousel_nav_dim:50px;
.carousel{
	overflow:hidden;
	
	.carousel-indicators{
		bottom:70px;
		
		
		li{
			border-radius:3px;
			background-color: transparent;
			border-color:$color1;
			border-width:2px;
			width:14px;
			height:14px;
				
		}
	}
	
	$carousel_caption_height:100px;
	
	.carousel-caption{
		@extend .caption;
	} /*carousel-caption*/
	

	.slide-btn{
		  @include overlay(1,255,255,255);
		  height: $carousel_nav_dim;
		  display: block;
		  width: $carousel_nav_dim;
		  position: absolute;
		  font-size: 24px;
		  line-height: $carousel_nav_dim;
		  top: 45%;
		  border:none;
		  cursor:pointer;
		  -webkit-transition: all 0.5s ease;
		  -moz-transition: all 0.5s ease;
		  -o-transition: all 0.5s ease;
		  -ms-transition: all 0.5s ease;
		  transition: all 0.5s ease;
		  
		  .fa{
			  font-size:24px;
			  color:$color1;
			  text-shadow:none;	
		  }
				 
	}
	
	&:hover{
		a.left .slide-btn{
			left:0;	
		}
		a.right .slide-btn{
			right:0;	 
		}
	}
	a.left .slide-btn{
		left:-$carousel_nav_dim;	
	}
	a.right .slide-btn{
		right:-$carousel_nav_dim; 
	}
	.left,.right{
		background-image:none;
		background-color:transparent;
	}
	
	
} /*carousel*/


$nav_height:46px;

#top-nav{
	@include add_gutters(30px, 30px);
  	background-color:$color1;
	height:$nav_height;
	  
	  .nav{
		 /* background-color:$color3;*/
		  
		  & > li{
			  height:$nav_height;
			  & > a{
				  font-family:$font2;
				  color:$white;
				  font-size: 14px;
				  font-weight: 400;
				  letter-spacing: 1.5px;
				  text-transform:uppercase;
				  padding: 8px;
				  border-radius: 4px;
				  margin-top: 5px;
				  
				  &:hover,
				  &:focus,
				  &:active{
					  background-color:$color2;
				  }
			  }
			  
			  &:last-child{
					.dropdown-menu{
						margin-left:-95px;
					}
			  }
			  
		  } /* & > li*/
		  
		  
	  } /* nav*/
	  
	  
	  
	  .navbar-nav {
		  height:$nav_height;
		  text-align: justify;
		  width: 100%;
		  
		  &:after{
			  content: '';
			  display: inline-block;
			  width: 100%;	
		  }
		  
		  & > li{
			  display: inline-block;
			  float:none;
			  
			  a{
				  color:$white;	
			  }
			  
			  &:first-child{
				  text-align:left;	
			  }
			  &:last-child{
				  text-align:right;
			  }
		  }
		  .dropdown{
			  
			  &:hover{
				  ul{
					  display:block;
				  }
			  }
			  
		  }
	  }	/*navbar-nav*/
	  
	  
	  .dropdown-menu{
		  @include overlay(0.8);
		  border:0;
		  margin-left:-15px;
		  border-radius:0;	
		  
		   & > li{
			  min-width:245px;
			  & > a{
				  	font-family:$font2;
					color:$white;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 1.5px;
					text-transform:uppercase;
					padding:8px 20px;
					margin-top:0;
					border-radius:0;
					
					&:hover{
						 @include overlay(0.3);	
					}
					&:focus{
						 @include overlay(0.3);	
					}
					&.active{
						 @include overlay(0.3);	
					}
			  }
			  
		   }
	  }
	
		
} /*top-nav*/

$tile_caption_height:95px;
.tiles{
	
	margin-right:-8px;
	
	.tile{
		max-height:630px;
		margin-bottom:9px;
		padding-left:3px;
		padding-right:3px;
		text-align:center;
		
		img{
			width:100%;	
		}
		
		/* target every 4th element starting from 1st [1,4,7 ..]*/
		&:nth-child(3n+1){
			padding-left:0;
			padding-right:6px;
			
			.caption{
				margin-left:0;
				margin-right:6px;	
			}
		}
		/* target every 3rd element starting from 3rd [3,6,9 ..]*/
		&:nth-child(3n){
			padding-left:6px;
			padding-right:0;	
			
			.caption{
				margin-left:6px;
				margin-right:0;	
			}
		}
		
		.caption{
			@extend .caption;
			@include responsive_style(margin-top,-95);
			@include responsive_style(height,95);
			/*margin-top:-$tile_caption_height;*/
			/*height:$tile_caption_height;	*/
			bottom:0;
			padding-top:0;
			padding-bottom:0;
			position:absolute;
			transition-property: all;
			transition-duration: 0.6s;
			transition-timing-function: cubic-bezier(0, 1, 0.8, 1);
			max-height:0;
			margin-left:3px;
			margin-right:3px;
			
			h3{
				/*font-size: 20px;*/
			 	font-weight: 400;
			  	letter-spacing: 1px;
				@include responsive_font(20,95);
			  	/*line-height:$tile_caption_height;*/
			  	padding: 0;
			  	margin: 0;
			}
		}
		
		&:hover{
			.caption{
				max-height:$tile_caption_height;
			}	
		}
		.tile-btn-wrap{
			position:absolute;
			top:60%;
			left:0;
			right:0;
			
			.btn-tile{
				@include overlay(0.25);
				@include responsive_font(24,52);
				display:inline-block;
				/*height:52px;*/
				color:$white;
				/*line-height:52px;	*/
				/*font-size:24px;*/
				/*font-size:1.274vw;*/
				text-transform:uppercase;
				font-weight:400;
				border:1.5px solid $white;
				padding:0 25px;
				
			}
		}
	}
		
}

.bar{
	text-align:center;	
	h3{
		padding:15px 0;
		margin:0;	
	}
	
	&.social{
		@extend .app_flex;
		color:$black;
		margin-top:40px;
		margin-bottom:25px;
		
		.segment{
			@include app_set_flex(1);
			padding-left:15px;
			padding-right:15px;
			
			&:first-child,
			&:last-child{
				@include app_set_flex(0.6);	
			}
		}
		
		h2{
			font-weight:300;	
			letter-spacing:5px;
		}
		h4{
			font-weight:300;
			font-style:italic;	
		}
		
		hr{
			border-color:$black;	
			margin-top:50px;
		}
	}
}

.multi-carousel{
	.item{
		img{
			width:100%;	
		}
	}
	.carousel-caption{
		background:none;	
		text-transform:uppercase;
		text-shadow:none;
		color:$color1;
		position:relative;
		text-align:center;
		margin:0;
		padding:0;
		
		
		
		h3{
			@include responsive_font(24,26);
			font-weight:700;
			text-align:center;
		}
		
		h4{
			 font-size: 12px;
			 text-transform: uppercase;
			 padding: 0;
			 margin: 4px 0;
			 font-weight: 600;
			 letter-spacing: 1.5px;

		}
	} /* carousel-caption*/
	
	.carousel-control{
		width:auto;
		
		.slide-btn{
			border:1px solid $color3;
		}
		
		&.left{
			.slide-btn{
				border-left:none;	
			}
		}
		&.right{
			.slide-btn{
				border-right:none;	
			}
		}
	}
}

.product{
	.product-info{
		  
		  h3{
			 margin:0; 
		  }
		  
		  h4{
			  font-size:12px;
			  line-height:20px;
			  margin:0;
		  }
		  	
		  &:before{
			  content:" ";
			  text-transform:uppercase;
			  display: inline-block;
			  min-width: 10px;
			  padding: 4px 12px 3px;
			  font-size: 14px;
			  font-weight: 500;
			  line-height: 1;
			  color: $white;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: baseline;
			  background:none;
			  border-radius: 10px;	
			  margin-bottom:5px;
		  }
		  
		  .price{
			  @include responsive_font(20,22);
			  font-weight:600;
			  
			  sub{
				  font-size:12px;
				  bottom: 0;
				  padding-left: 2px;	
			  }
			  .sale-price{
				  color:$color5;
				  display:none;
			  }
		  }
		  
		  &.on-sale{
			  &:before{
				  content:"sale";
				  background-color: $color5;
			  }
			  
			  .price{
				  .normal-price{
					  font-size:12px;
					  text-decoration:line-through;	
				  }
				  .sale-price{
					  display:inline;
				  }
			  }	
		  }
		  
		  .raiting{
				color:$black;
				margin-top:15px;
				display:block;  
				
				.off{
					opacity:0.15;
				}
		  }
		  
	} /* product-info */
}

.featured{
	padding-top:20px;
	padding-bottom:20px;
	
	.item{
		img{
			padding:25px 25px 15px 25px;
		}
	}
		
}

.gallery{
	
	.carousel-inner{
		.item{
			a{
				[class*=col]{
					padding-left:5px;
					padding-right:5px;
					max-height:309px;
					overflow:hidden;
				}
				&:first-child{
					[class*=col]{
						padding-left:0px;
						padding-right:5px;
					}
				}
	
				&:last-child{
					[class*=col]{
						padding-left:5px;
						padding-right:0;	
					}
				}
			} /* a */
		} /* item */
	} /* carousel-inner*/
} /* gallery*/


#instagram{
	margin-bottom:90px;	
}

.app-modal{
	.modal-backdrop.in{
		opacity:1;	
	}
	
	.modal-dialog{
		width:1230px;
		
		.modal-content{
			border-radius:0;
			float:left;
			width:100%;
			
			.modal-body{
				float:left;
				padding:0;
				width:100%;
				
				
				button.close{
					padding:5px 10px;
				}
				
				.left{
					img{
						width:100%;	
					}
				}
				
				.right{
					
					.product{
						margin-top:51%;
						text-align:center;
						
						
						img{
							width:auto;	
						}
						
						.btn{
							margin-top:40px;	
						}
					}
				}
			}
			
				
		}
		
	} /*modal-dialog*/
	
} /* app-modal */

#footer{
	$footer_top_padding:65px;
	$footer_txt_opacity:0.4;
	
	background:$color1;
	min-height:350px;
	text-align:center;
	padding-top:$footer_top_padding;
	padding-bottom:60px;	
	width:100%;
	float:left;
	position:relative;
	color:$white;
	
	#goto-top{
		background:$white;
		position:absolute;
		left:0;
		right:0;
		top:0;
		width:40px;
		height:40px;
		color:$black;
		line-height:40px;
		text-align:center;
		margin:0 auto;
		cursor:pointer;
		font-size:16px;
		display:none;
		
		&:hover{
			color:$color1;
		}
	}
	
	h5{
		margin:0;
		padding:0;	
	}
	
	.subscribe-box{
		margin-top:28px;	
	}
	
	ul.social-links,
	ul.quick-links{
		text-transform:uppercase;
		list-style:none;
		display:inline-block;
		padding:0;	
		margin:0;
	}
	
	ul.social-links{
		margin-top:15px;
		margin-bottom:0;
		
		li{
			float:left;
			height:58px;
			width:58px;
			line-height:58px;
			text-align:center;
			border:1px solid rgba(255,255,255,0.5);
			border-radius:50%;
			margin-right:235px;
			
			&:last-child{
				margin-right:0;	
			}
			
			.fa{
				font-size:24px;	
				display:block;
				line-height:58px;
				margin-left:2px;
			}
			
			a{
				line-height:43px;
				color:$white;
				
				&:hover{
					text-decoration:none;	
				}
			}
		}
	} /* social-links*/
	
	ul.quick-links{
		text-align:center;
		margin-top: 20px;
  		margin-bottom: 30px;
  
		li{
			float:left;
			width:100%;
			opacity:$footer_txt_opacity;
			padding:4px 0;
			
			&:first-child{
				opacity:1;	
			}
			
			a{
				font-size:16px;
				font-weight:300;	
				color:$white;
			}
		}
	}
	
	hr{
		width:100%;	
		margin-top:28px;
		margin-bottom:30px;
		opacity:0.10;
		float:left;
	}
	
	.disclaimer{
		font-size:12px;
		opacity:$footer_txt_opacity;
		text-transform:none;
		text-align:center;
		width:100%;	
		margin-top:26px;
		line-height:30px;
		font-weight:100;
	}
	
} /* #footer*/

.form-group{
	color:$color1;	
}

.subscribe-box{
	margin-top:34px;
	
	.form-group{
		float:none;
		width:315px;
		margin:auto;	
		margin-top:20px;
	}
}

/* bootstra overwrites */
.form-control{
	&:focus{
		box-shadow:none;
		border-color:inherit;	
	}
}


/* Helpers */
$font_weights: 100,300,400,700,900;
@each $fw in $font_weights{
	.fw-#{$fw}{
		font-weight:$fw;	
	}
}

.x-gutters{
	padding-left:0;
	padding-right:0;	
}
.x-l-gutter{
	padding-left:0;	
}
.x-r-gutter{
	padding-right:0
}
.pull{
	float:right;	
}
.push{
	float:left;	
}
.pull-text{
	text-align:right;	
}
.fw{
	width:100%;	
}
.clear{
	clear:both;	
}
.block{
	display:block;	
}
.inline{
	display:inline;	
}
.pointer{
	cursor:pointer;	
}
.relative{
	position:relative;
}
.bg-black{
	background-color:$black;	
}
.text-white{
	color:$white;
}
.x-float{
	float:none;	
}
.margin-auto{
	margin:auto;
}

@media (max-width: 767px) {
	
	#header{
		height:$mob_header_height;
		background-color:$color1;
		padding-top:8px;
		
		.logo-wrap{
			
		}
		
		
	}	
}